<footer style="
      position: relative;
    background: teal;
    bottom: -255px;
    height: 140px">

  <div class="container">
    <div class="row">

      <div class "col-sm-12" style="
    line-height: .5;
    margin: 10px;
    padding: 5px;
    color: white;
    border: white;
    border-style: dotted;
    width: 100%;">
        <h6 style="
        text-align: center;"
        >Contact</h6>
        <br>
        <p> Phone :51222122
          <br>
          <p>Email:datapet@gmail.com
            <br>
            <p>Address: Dat's Home</p>
      </div>
    </div>
  </div>
</footer>