<ul class="nav justify-content-end" style="
    position: absolute;  
    z-index: 1;
    top: 70px;
    width: 100%;">

    <div style="
    position: absolute;
    right: 90%;
    width: 20px;">

      <li class="nav-item, fa-2x" style="    
      float: left;
      width: 10px;
      margin-left: -12px;">

        <a class="nav-link" href="#"><i class="fab fa-facebook-square"></i></a>

      </li>

      <li class="nav-item, fa-2x" style="
      width: 0%;
      float: right;">

        <a class="nav-link" href="#"><i class="fab fa-twitter-square"></i></a>

      </li>

    </div>

    <div id="logo" class="fa-9x" style="    
    position: relative;
    right: 44%;
    color: teal;">

      <i class="fas fa-paw"></i>

    </div>

    <div style="    
    position: absolute;
    right: 5%;">

      <li class="nav-item">
        <a class="nav-link active" href="/login">
          <h2>Log in</h2>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" href="/signup">
          <h2>Sign Up</h2>
        </a>
      </li>

    </div>

  </ul>