<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="/"><i class="fas fa-dog"></i> Home</i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/services">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/aboutus">About Us</a>
  </li>
  <li clsass="nav-item">
    <a class="nav-link" href="/dashboard">Dashboard</a>
  </li>
</ul>
