
{{>navbar}}

<div class="jumbotron jumbotron-fluid" style="margin: 10%;">
  <div class="container">
    <h1 class="display-4">About Us</h1>
    <p class="lead">Dat-A-Pet is a state of the art, AAHA accredited, healthcare facility, providing compassionate medical care for dogs, cats, and the occasional avian & exotic pet. We provide a high-quality veterinary care for dogs, cats, pocket pets, birds, and other exotic animals in Austin, and our experienced team utilizes the latest in veterinary medicine to provide the best possible care for your pet.</p>
  </div>
</div>