{{>navbar}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 style="margin: 3.5vh 2vw; margin-left:7vw">Welcome to your Dashboard, {{owner}}</h3>
        </div>
    </div>
   {{>dashboardSideBar}}
        <div class="col-md-8">
            {{>dashboardMain this}}
        </div>
    </div>
</div>
