<header>

  {{>header}}

  <div class="embed-responsive embed-responsive-21by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xeEy4tPbc-s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
  </div>

</header>

{{>navbar}}

<div class="container">
  <div class="col-sm-12, col-md-12, col-lg-12">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dental</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/services" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Surgery</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/services" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pet Insurance</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/services" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-sm-12" ,"col-md-12", "col-lg-12">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Preventive Care</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/services" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Boarding</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/services" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pet Records</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/services" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
