<style>
  .fa-paw:before {
    content: "\f1b0";
    position: absolute;
    left: -192px;
    top: -25px;
    color: teal;
  }
</style>

<header>

  {{>header}}

  <div class="embed-responsive embed-responsive-21by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xeEy4tPbc-s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
  </div>

</header>

{{>navbar}}

<div class="container" style="margin-top: 25px;">
  <div class="col-sm-12, col-md-12, col-lg-12">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dental</h5>
            <p class="card-text">Most pet owners are not aware that their pet has an oral problem so an examination of the Oral Cavity Overview should form part of every physical examination. Oral examination in a conscious animal can only give limited information and a definitive oral examination can only be performed under general anaesthesia. </p>
            <a href="/services" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Surgery</h5>
            <p class="card-text">Veterinary surgery fall into three broad categories: orthopaedics (bones, joints, muscles), soft tissue surgery (skin, body cavities, cardiovascular system, GI/urogenital/respiratory tracts), and neurosurgery.</p>
            <a href="/services" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pet Insurance</h5>
            <p class="card-text">Pays, partly or in total, for veterinary treatment of the insured person's ill or injured pet. Some policies will pay out when the pet dies, or if the pet is lost or stolen.</p>
            <a href="/services" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 15px;">
  <div class="col-sm-12" ,"col-md-12", "col-lg-12">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Preventive Care</h5>
            <p class="card-text">Adult pets should see a veterinarian at least annually (in some cases semi-annually is better) for an assessment of their preventive care needs. Puppies and kittens need more frequent visits — usually every 3-4 weeks until they are about four months old</p>
            <a href="/services" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Boarding</h5>
            <p class="card-text">This is where dogs or cats are housed temporarily for a fee, an alternative to using a pet sitter.</p>
            <a href="/services" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pet Records</h5>
            <p class="card-text">Having a copy of your dog’s, cat’s, ferret’s, or other pet’s veterinary records is important in determining what type of care and treatment he may need. </p>
            <a href="/services" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
