<header>

  <ul class="nav justify-content-end" 
    style="
    position: absolute;  
    z-index: 1;
    top: 70px;
    width: 100%;">
    
    <div 
    style="
    position: absolute;
    right: 90%;
    width: 20px;">
      
      <li class="nav-item" 
      style="    
      float: left;
      width: 10px;">

        <a class="nav-link" href="#"><i class="fab fa-facebook-square"></i></a>

      </li>
      
      <li class="nav-item" 
      style="
      width: 0%;
      float: right;">
        
        <a class="nav-link" href="#"><i class="fab fa-twitter-square"></i></a>

      </li>

    </div>

    <div id="logo" 
    style="    
    position: relative;
    right: 44%;
    color: wheat;">

      <h1>Logo Here</h1>

    </div>

    <div 
    style="    
    position: absolute;
    right: 5%;">

      <li class="nav-item">
        <a class="nav-link active" href="#">Log in</a>
      </li>

    </div>

  </ul>

  <div class="embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
      allowfullscreen></iframe>
  </div>

</header>

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

        <h2>Dat-a-Pet Home Page</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
              placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>