<style>
    .media{
        margin: 5%;
        background: white;
    }
</style>

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="/"><i class="fas fa-horse"> Home</i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/services">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/aboutus">About Us</a>
  </li>
  <li clsass="nav-item">
    <a class="nav-link" href="/dashboard">Dashboard</a>
  </li>
</ul>



<div class="media">
  <img src="https://images.unsplash.com/photo-1438283173091-5dbf5c5a3206?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" class="align-self-start mr-3" alt="..." style="width: 21%">
  <div class="media-body">
    <h5 class="mt-0">Dental</h5>
    <p style="line-height: 2.5">It is important to examine the whole animal, even when the primary complaint is the mouth. Some dental diseases may be the result of a systemic problem and some may result in systemic complications. In all cases, dental procedures require a general anaesthetic so it is important to establish the cardiovascular and respiratory status and canine and feline physiological values of the patient to avoid risks or complications. 
Pain originating from dental problems is very rarely recognized by owners or professionals. Seldom will an animal become anorexic due to a dental problem. The exception to this is in the case of severe soft tissue injury, for example chronic gingivostomatitis. In general dental pain is a chronic pain, and it is only after treatment that an owner reports how much better their pet is doing. Pain is often mistaken for a pet just getting old. Very few clients examine their pets’ teeth unless they are carrying out daily home care, so actual dental problems often go unnoticed. 
It is important to recognize symptoms that may have a link to dental diseases such as a nasal discharge or external facial swellings. In some cases, dental patients may even present with what appear to be neurological symptoms
</p>
  </div>
</div>

<br>

<div class="media">
  <img src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="align-self-start mr-3" alt="..."  style="width: 21%">
  <div class="media-body">
    <h5 class="mt-0">Insurance</h5>
    <p>Many pet owners believe pet insurance is a variation of human health insurance; however, pet insurance is actually a form of property insurance. As such, pet insurance reimburses the owner after the pet has received care and the owner submits a claim to the insurance company. Pet insurance policies primarily cover dogs, cats and horses though more exotic species of animal can obtain coverage.</p>
    <p>Policies in the United States and Canada either pay off a benefit schedule or pay a percentage of the vet costs (70-100%), after reaching a deductible, depending on the company and the policy. The owner usually pays the amount due to the veterinarian and then sends in the claim form and receives reimbursement, which some companies and policies limit according to their own schedules of necessary and usual charges. For very high bills, some veterinarians allow the owner to put off payment until the insurance claim is processed. Some insurers pay veterinarians directly on behalf of customers. Most American and Canadian policies require the pet owner to submit a request for fees incurred.</p>
  </div>
</div>

<br>

<div class="media">
  <img src="https://images.unsplash.com/photo-1453227588063-bb302b62f50b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="align-self-start mr-3" alt="..."style="width: 21%">
  <div class="media-body">
    <h5 class="mt-0">Preventive Care</h5>
    <p>The first part of a wellness visit is a health evaluation. This includes a thorough history including information about a pet’s breed, age, lifestyle, behavior, and diet; a comprehensive physical exam; and measuring some basic parameter like weight, temperature, and pulse and respiration rates. All of the information gathered during this part of the visit is initially used to assess whether a pet might actually be sick rather than well, which changes the entire nature of the appointment.</p>
    <p>Preventive medicine gets a boost in the spring too. Owners start thinking more about heartworms, fleas, ticks and intestinal parasites, even though many of these parasites actually pose a year-round risk. </p>
  </div>
</div>

<br>

<div class="media">
  <img src="https://images.unsplash.com/photo-1514416309827-bfb0cf433a2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" class="align-self-start mr-3" alt="..."style="width: 21%">
  <div class="media-body">
    <h5 class="mt-0">Surgery</h5>
    <p>Advanced surgical procedures such as joint replacement (total hip, knee and elbow replacement), fracture repair, stabilization of cranial cruciate ligament deficiency, oncologic (cancer) surgery, herniated disc treatment, complicated gastrointestinal or urogenital procedures, kidney transplant, skin grafts, complicated wound management, minimally invasive procedures (arthroscopy, laparoscopy, thoracoscopy) are performed by veterinary surgeons (as registered in their jurisdiction). Most general practice veterinarians perform routine surgery [neuters (spay and castration), minor mass excisions, etc.], some also perform additional procedures.</p>
    <p>The goal of veterinary surgery may be quite different in pets and in farm animals. In the former, the situation is more close to that with human beings, where the benefit to the patient is the important factor. In the latter, the economic benefit is more important.</p>
  </div>
</div>


<br>

<div class="media">
  <img src="https://images.unsplash.com/photo-1521309569781-7bcd429eb2f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" class="align-self-start mr-3" alt="..."style="width: 21%">
  <div class="media-body">
    <h5 class="mt-0">Boarding</h5>
    <p style="line-height: 2.5">Although many people worry about the stress placed on the animal by being put in an unfamiliar and most likely crowded environment, the majority of boarding kennels work to reduce stress.Many kennels offer one-on-one "play times" in order to get the animal out of the kennel environment. Familiar objects, such as blankets and toys from home, are also permitted at many kennels. Similarly, many kennels offer grooming and training services in addition to boarding, with the idea being that the kennel can be the owner's "one-stop shop" for all three services</p>
  </div>
</div>

<br>

<div class="media">
  <img src="https://images.unsplash.com/photo-1461360228754-6e81c478b882?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" class="align-self-start mr-3" alt="..."style="width: 21%">
  <div class="media-body">
    <h5 class="mt-0">Pet Records</h5>
    <p>Just like you, your companion pet will have a complete medical file that should travel with them if they change owners, veterinarians, or where living location. </p>
    <p>The laws that dictate the rules of the release and transferal of your pet’s medical records vary by state, so it’s important to visit the American Veterinary Medical Association to check on the rules that apply to your state.</p>
  </div>
</div>